.site-header{
	background-color:#b54040;
	color:#f7f1f1;
	height: 100vh;
	font-family: monospace;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.profile-pic{
	border-radius:50%;
	height:200px;
	width:200px;
	align-self:center;
	box-shadow: #630404 2px 5px 5px;
}

.site-header-content{
	margin: 10px;
}

.profile-link{
	color: #f7f1f1;
}

body {
	margin:0px;
}
